# **Revise Pyspark Within 15 minutes .Part -1**

# All Major keywords: of pyspark used :

**Install Pyspark : ** pip install pyspark

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

Pyspark Functions List :

In [ ]:
#Initialization of pyspark
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
#Access the inbuilt datasets of colab to perform the actions :

!ls /content/sample_data

anscombe.json		     california_housing_train.csv  mnist_train_small.csv
california_housing_test.csv  mnist_test.csv		   README.md

FIle path for the above datasets is : file_path = "/content/sample_data/california_housing_train.csv"

In [ ]:
# Loading Data

df=spark.read.format("csv").option("header","true").load("/content/sample_data/california_housing_train.csv")

In [ ]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

Renaming the columns :

To rename columns in a PySpark DataFrame, you have several options depending on whether you want to rename all columns or just a few specific ones.


---



1. Renaming a Single Column   **.withColumnRenamed()**
2. Renaming Multiple Columns Using Multiple  **.withColumnRenamed()**
3. To rename all columns, create a list of new names and use the    **.toDF()**
4. Renaming All Columns by Mapping Old Column Names to New Names **.selectExpr()**
5. Renaming Columns by Applying a Function to Modify Names   **.select()**

In [ ]:
df.withColumnRenamed("longitude","long").withColumnRenamed("latitude","lat").show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|       long|      lat|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

#Add and Drop Column :


1.   Add : df.withcolumn("new_col",lit(value))

*    Adding 5 to an existing column's value
df = df.withColumn("new_column", col("existing_column") + lit(5))
*   df = df.withColumn("category", when(col("score") > lit(50), "Pass").otherwise("Fail"))


2.   Drop : df.drop("col_name")

In [ ]:
from pyspark.sql.functions import lit

df.withColumn("new_col",lit(100)).show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|new_col|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000|    100|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000|    100|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|    100|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000|    100|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000|    100|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-------+
only showing top 5 rows

In [ ]:
df.drop("new_col").show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In PySpark, you can select specific columns and filter rows based on conditions using .select() and .filter() (or .where())

1.   df.select()
2.   df.filter() or df.where()

In [ ]:

df_selected= df.select("longitude","latitude")
df_selected.show(5)

+-----------+---------+
|  longitude| latitude|
+-----------+---------+
|-114.310000|34.190000|
|-114.470000|34.400000|
|-114.560000|33.690000|
|-114.570000|33.640000|
|-114.570000|33.570000|
+-----------+---------+
only showing top 5 rows

In [ ]:
df_filtered = df.filter(df["total_rooms"] > 100)
df_filtered.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
df_filtered = df.where((df["total_rooms"] > 100) & (df["population"] > 1000))
df_filtered.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 5 rows

Sort Rows In PySpark, you can sort rows and remove duplicate rows using the .orderBy() and .dropDuplicates() (or .distinct()) :

1.   df.orderBy()
2.   df.dropDuplicates()
3.   df.distinct()

In [ ]:
df.orderBy("total_rooms").show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-121.490000|38.580000|         52.000000|1000.000000|    324.000000| 456.000000|250.000000|     1.437500|     168800.000000|
|-118.200000|33.900000|         26.000000|1000.000000|    275.000000|1178.000000|263.000000|     2.120000|     105000.000000|
|-117.390000|34.100000|         19.000000|1000.000000|    211.000000| 572.000000|230.000000|     2.402800|     112500.000000|
|-118.150000|34.110000|         52.000000|1000.000000|    192.000000| 363.000000|158.000000|     4.298100|     352800.000000|
|-121.110000|39.090000|         16.000000|1000.000000|    197.000000| 508.000000|190.000000|     2.306200|     138800.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
df1=df.dropDuplicates(["total_rooms"])
df1.show(5)
print("total rows : "+ str(df1.count()))

+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age| total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+
|-117.390000|34.100000|         19.000000| 1000.000000|    211.000000| 572.000000| 230.000000|     2.402800|     112500.000000|
|-117.210000|33.930000|          4.000000|10002.000000|   1468.000000|5439.000000|1397.000000|     5.022300|     152600.000000|
|-117.680000|33.570000|          2.000000|10008.000000|   1453.000000|3550.000000|1139.000000|    10.112200|     500001.000000|
|-120.800000|38.510000|         23.000000| 1001.000000|    195.000000| 369.000000| 157.000000|     3.125000|      96400.000000|
|-118.940000|34.240000|          5.000000|10018.000000|   1233.000000|4253.000000|1120.000000|     8.906300|     500001.000000|
+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+
only showing top 5 rows

total rows : 5533

SOme Basic Functionalities :


1.
2.   List item

In [ ]:
df = df.withColumn("rooms", df["total_rooms"].cast("int"))
df.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|rooms|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000| 5612|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000| 7650|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|  720|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000| 1501|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000| 1454|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
only showing top 5 rows

In [ ]:
print("total rows : "+ str(df1.count()))
print("total distinct rows : "+ str(df.select("rooms").distinct().count()))

total rows : 5533
total distinct rows : 5533

 check if a column contains a specific substring, you can use the .contains()

In [ ]:
#it will return all room string which contains 200 substring

from pyspark.sql.functions import col
filter_df =df.filter(col("rooms").contains("200"))
filter_df.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|rooms|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
|-117.070000|32.670000|         35.000000|3200.000000|    725.000000|1723.000000|610.000000|     1.897700|      95600.000000| 3200|
|-117.090000|32.910000|         16.000000|2005.000000|    266.000000| 827.000000|270.000000|     7.054600|     282200.000000| 2005|
|-117.100000|32.700000|         42.000000|2002.000000|    488.000000|1505.000000|464.000000|     1.505700|      86300.000000| 2002|
|-117.120000|32.690000|         46.000000| 200.000000|     77.000000| 180.000000| 65.000000|     1.065800|      93800.000000|  200|
|-117.120000|32.580000|         34.000000|2003.000000|    466.000000|1226.000000|443.000000|     3.061300|     136700.000000| 2003|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
only showing top 5 rows

To obtain summary statistics of a DataFrame, you can use the .describe()

In [ ]:
filter_df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+
|summary|         longitude|          latitude|housing_median_age|       total_rooms|    total_bedrooms|       population|        households|     median_income|median_house_value|             rooms|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+
|  count|                61|                61|                61|                61|                61|               61|                61|                61|                61|                61|
|   mean|-119.4227868852459| 35.37098360655739|31.950819672131146|2324.2950819672133| 469.9016393442623|1332.688524590164|450.04918032786884|3.8692803278688523|221314.81967213115|2324.2950819672133|
| stddev| 1.895816562106807|2.1099989770282144|12.978734182639174|1210.4123174117472|206.26339996212226|629.6836385832598|197.13256337039704|1.7526203600912995|115639.55826958007|1210.4123174117472|
|    min|       -117.070000|         32.580000|         11.000000|        200.000000|       1119.000000|      1033.000000|       1102.000000|          1.065800|     102300.000000|               200|
|    max|       -122.730000|         41.760000|          9.000000|       7200.000000|        907.000000|       996.000000|        896.000000|          7.651800|      95600.000000|              7200|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+

To remove leading and trailing whitespace from string columns, use the .trim()

In [ ]:
from pyspark.sql.functions import trim

# Trim whitespace from 'populations'
df_trimmed = df.withColumn("population", trim(col("population")))
df_trimmed.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|rooms|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000| 5612|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000| 7650|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|  720|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000| 1501|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000| 1454|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+
only showing top 5 rows

To round numeric values in a column, use .round()

In [ ]:
from pyspark.sql.functions import round
df1=df_trimmed.withColumn("round_median_income",round(col("median_income"),3).cast("float"))
df1.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|rooms|round_median_income|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000| 5612|              1.494|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000| 7650|               1.82|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|  720|              1.651|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000| 1501|              3.192|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000| 1454|              1.925|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+
only showing top 5 rows


To split a string column into multiple columns, use the split()

In [ ]:
from pyspark.sql.functions import split
df_split = df.withColumn("split_col", split(col("latitude"),","))
df_split.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-----------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|rooms|  split_col|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-----------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000| 5612|[34.190000]|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000| 7650|[34.400000]|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|  720|[33.690000]|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000| 1501|[33.640000]|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000| 1454|[33.570000]|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-----------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col, when, lit
df_case = df.withColumn("median_income_class", when(col("median_income") > 2.5, "High").otherwise("Low"))
df_case.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|rooms|median_income_class|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000| 5612|                Low|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000| 7650|                Low|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|  720|                Low|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000| 1501|               High|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000| 1454|                Low|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+
only showing top 5 rows

To convert the case of strings in a column, you can use the upper() and lower()

In [ ]:
from pyspark.sql.functions import upper, lower

# Convert to uppercase
df_upper = df_case.withColumn("median_income_class_U", upper(col("median_income_class")))
df_upper.show(5)
# Convert to lowercase
df_lower = df_case.withColumn("median_income_class_L", lower(col("median_income_class")))
df_lower.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+---------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|rooms|median_income_class|median_income_class_U|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+---------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000| 5612|                Low|                  LOW|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000| 7650|                Low|                  LOW|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|  720|                Low|                  LOW|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000| 1501|               High|                 HIGH|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000| 1454|                Low|                  LOW|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+---------------------+
only showing top 5 rows

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+---------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|rooms|median_income_class|median_income_class_L|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+---------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000| 5612|                Low|                  low|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000| 7650|                Low|                  low|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|  720|                Low|                  low|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000| 1501|               High|                 high|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000| 1454|                Low|                  low|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+-----+-------------------+---------------------+
only showing top 5 rows